{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title> i.Fest '23 </title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link rel="icon" href="{% static 'images/i.Fest_logo_new.png' %}" />
  <link href="{% static 'images/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'css/aos.css' %}" rel="stylesheet">
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/bootstrap-icons.css' %}" rel="stylesheet">
  
  <!-- <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet"> -->

  <!-- Template Main CSS File -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet">

  <style>
    video {
      object-fit: cover;
      height: 100%;
      width: 100%;

      position: absolute;
      top: 0;
      left: 0;
      z-index: -9;
      filter: brightness(50%) blur(3px);
    }

    /* @media(min-width:1400px)
    {
    #customed{
      padding-left: 175px;
    } */
  </style>
</head>

<body style="background-color: black;">
  <video playsinline autoplay muted loop poster="">
    <source src="{% static 'images/ifestfull.mp4' %}" type="video/mp4">
  </video>
  <section id="hero">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6 col-md-6 pt-5 pt-md-0 px-4 ">
          <div class="row justify-content-center">
            <div class="col-md-12 justify-content-center px-4 px-md-3 pb-4 pb-md-4" data-aos="fade-down">
              <img src="{% static 'images/logo.png' %}" class="img-fluid" alt="Responsive image">
            </div>
            <div class="col-md-12 px-4 px-md-3 text-center pb-4 pb-md-4" style="color: rgba(255, 255, 255, 0.75);" data-aos="flip-left">
              It's that time of the year again! Delve into the intricate tapestry of time, where every second holds a new shade of mystery.
            </div>
            <div class="col-md-12 px-4 px-md-3 text-center pb-4 pb-md-4">
              <a class="btn btn-danger" 
              style="background-image: linear-gradient(#7C36EE, #af2aec); 
                border-color: #3a1a6d;" 
              href="{% url 'signup' %}" data-aos="fade-up">
                Pre-Register Now
              </a>
            </div>
          </div>
        </div>
        <!-- <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="fade-left">
          <img src="assets/img/hero-img.png" alt="" srcset="">
        </div> -->
      </div>
    </div>

  </section>

  <script src="{% static 'js/aos.js' %}"></script>
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'js/glightbox.min.js' %}"></script>
  <!-- <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script> -->
  <script src="{% static 'js/swiper-bundle.min.js' %}"></script>
  <!-- <script src="assets/vendor/php-email-form/validate.js"></script> -->


  <script src="{% static 'js/main.js' %}"></script>

</body>

</html>